@using MovieRatingsDB;
@model Rating

@{
    ViewBag.Title = "Detail";
}

@{ Rating rating = ViewBag.movie }

<h2>Detail</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => rating.RatingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => rating.Stars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => rating.Note)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
